.container__content {
  background-image: url("../images/contacts-bg.jpg") !important;
  background-position: center;
  background-size: cover;
  corner-shape: squircle;
  border-radius: 20px;
  width: 100%;
  z-index: 100;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.contacts {
  height: 100%;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 50px;
  text-shadow:
    0 1px 3px rgba(0, 0, 0, 0.4),
    0 2px 6px rgba(0, 0, 0, 0.4),
    0 3px 12px rgba(0, 0, 0, 0.4);
}

.contacts__title {
  color: #fff;
  font-size: 6rem;
  text-align: center;
}

.contacts__title span {
  font-style: italic;
}

.contacts__info {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
}

.contacts__info-block {
  display: flex;
}

.contacts__info-block h2 {
  font-size: 1.5rem;
  color: #fff;
}

.contacts__media {
  display: flex;
  gap: 40px;
  text-align: center;
  justify-content: center;
  position: relative;
}

.contacts__media-logo {
  width: fit-content;
  height: fit-content;
}
