.main {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 0px 20px;
  height: 100%;
  position: relative;
}

.main__navigation {
  width: 3%;
  position: absolute;
  left: 20px;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.main__navigation-nav {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 100px;
}

.main__navigation-nav-element {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border-radius: 100px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.main__navigation-nav-element:nth-child(2n) {
  align-self: flex-end;
}

.main__navigation-nav-element:nth-child(2n)::after {
  content: "";
  width: 5px;
  height: 110px;
  background-color: #fff;
  position: absolute;
  cursor: auto;
  transform: rotate(-12deg);
  left: calc(25% - 8px);
  bottom: 90%;
}

.main__navigation-nav-element:nth-child(3)::after {
  content: "";
  width: 5px;
  height: 110px;
  background-color: #fff;
  position: absolute;
  cursor: auto;
  transform: rotate(12deg);
  right: calc(25% - 8px);
  bottom: 90%;
}

.main__navigation-nav-element--active {
  position: relative;
}

.main__navigation-nav-element--active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 2px solid #fff;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.main__product {
  width: 30%;
  display: flex;
  align-items: start;
  justify-items: center;
  flex-direction: column;
  gap: 40px;
  text-shadow:
    0 1px 3px rgba(0, 0, 0, 0.8),
    0 2px 6px rgba(0, 0, 0, 0.6),
    0 3px 12px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.main__product-desc {
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}
