.main {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 0px 20px;
  height: 100%;
  position: relative;
}

.main__navigation {
  width: 40px;
  position: absolute;
  left: 20px;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.main__navigation-nav {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
}

.main__navigation-nav-element {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 100px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.main__navigation-nav-element:nth-child(2n) {
  align-self: flex-end;
}

.main__navigation-nav-element--active {
  position: relative;
}

.main__product {
  width: 30%;
  display: flex;
  align-items: start;
  justify-items: center;
  flex-direction: column;
  gap: 40px;
  text-shadow:
    0 1px 3px rgba(0, 0, 0, 0.8),
    0 2px 6px rgba(0, 0, 0, 0.6),
    0 3px 12px rgba(0, 0, 0, 0.4);
  color: #fff;
}

.main__product-desc {
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}
