.container__content {
  background-image: none !important;
  background-color: pink;
}

.product-info {
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
  align-items: center;
}

.product-info h1 {
  color: #fff;
  font-size: 5rem;
}

.scroll-section {
  width: 100vw;
  overflow-x: hidden;
  height: 50%;
  position: absolute;
  display: flex;
  top: 20%;
  left: 0;
}
