*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  border: 30px solid #fff;
}
.container__content {
  border-radius: 20px;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(../images/product-1.jpg);
  background-position: center;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header__logo-text {
  margin-left: 0 auto;
  color: #fff;
}

.header__nav-bar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #fff;
  font-size: 20px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  padding: 0px 20px;
  height: 100%;
  position: relative;
}

.main__navigation {
  position: absolute;
  left: 20px;
  top: 20%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.main__navigation-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.main__navigation-nav li {
  font-size: 45px;
  color: #fff;
  cursor: pointer;
}

.main__navigation-nav-element--active {
  text-shadow:
    1px 1px 0 #3a7bc8,
    2px 2px 0 #3a7bc8,
    3px 3px 0 #3a7bc8,
    4px 4px 0 #3a7bc8,
    5px 5px 0 #3a7bc8,
    6px 6px 0 #3a7bc8,
    7px 7px 0 #3a7bc8,
    8px 8px 0 #3a7bc8,
    9px 9px 0 #3a7bc8,
    10px 10px 0 #3a7bc8,
    11px 11px 20px rgba(0, 0, 0, 0.5); /* Размытая тень для глубины */
}

.main__product {
  width: 30%;
  display: flex;
  align-items: start;
  justify-items: center;
  flex-direction: column;
  gap: 40px;
  color: #fff;
}

.main__product-desc {
  font-size: 20px;
  line-height: 28px;
  text-align: justify;
}

.footer {
  text-align: center;
  padding: 10px 0;
  color: #fff;
}
