/* contact-visual = main
contact-info = main__contacts */

.container__content {
  background-image: none;
  background-color: pink;
  border-radius: 20px;
  width: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

p {
  font-size: 20px;
  letter-spacing: 3px;
}

.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: hidden;
  flex-direction: column;
}

.main__heart {
  background-image: url(../images/heart.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 75px;
  height: 75px;
  position: relative;
  top: 0;
  left: 50%;
}

.main__contacts {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 14px;
  overflow: hidden;
  left: -1%;
}

.contact-row {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.contact-row p {
  flex: 1;
}

.contact-row p:nth-child(1) {
  text-align: right;
}
